
.header {
    width: 100%;
    height: 7%;
    background-color: #3f6ad8;
    overflow: auto;
}

.username_label_holder{
    margin-top: 1%;
    width: 15%;
    font-size: 2vw;
    color: white;
    text-align: center;
    float: left;
}

.flatname_label_holder{
    margin-top: 1%;
    font-size: 2vw;
    color: white;
    text-align: center;
    float: right;
    margin-right: 2%;
}
