body, html {
    height: 100%;
    margin:0;
    font-family: Roboto,sans-serif;
}

.report_card{
    background-color: #fff;
    color: rgba(13,27,62,0.7);
    border: 1px solid rgba(26,54,126,0.125);
    box-shadow: 0 0.46875rem 2.1875rem rgba(4,9,20,0.03), 0 0.9375rem 1.40625rem rgba(4,9,20,0.03), 0 0.25rem 0.53125rem rgba(4,9,20,0.05), 0 0.125rem 0.1875rem rgba(4,9,20,0.03);
    border-radius: .25rem;
    cursor: pointer;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.download_data_div{
    position: fixed;
    right: 2%;
    bottom : 2% ;
    cursor: pointer;
}